body{
    background-color: rgba(0,0,0,0.05);
    height:auto;
    z-index: 0;
}
.show-info{
    position: relative;
    top: -1rem;
    background-color: white;
    min-height: 300px;
    z-index: 9;
    padding-top: 2rem;
    box-shadow: darkgrey 0px 0px 5px;
    border-radius: 5px;
}

.carousel-caption {
    position: absolute;
    bottom: 50%;
    left: 15%;
    right: 15%;
    z-index: 10;
    color: #fff;
    text-align: center;
}
